PORT=4000
NODE_ENV=development

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD= database password
MYSQL_DATABASE= database name

JWT_SECRET= any random mix of alphabets and numbers but atleast 34 letters
JWT_EXPIRES_IN=7d


